$border:#adb5bd;
$shade:#dee2e6;
$fontColor:#515151;
$fontColorDark:#202020;
$stripe:#e9ecef;
$warnColor:#d62828;

:root{
    --c-border:#adb5bd;
    --c-shade:#dee2e6;
    --c-font:#515151;
    --c-font-dark:#202020;
    --c-font-light:#767676;
    --c-stripe:#e9ecef;
    --c-warn-color:#d62828;
}